html{
    margin: 7px;
    display: block;

}

.body{
    height: 200px;
    width: 150px;
    text-align: center;
}
.scanButton{
}
.background{
    background: rgba(255, 0, 0, .5);
    height: 100%;
    padding: 6px;
}
